<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>SecurID New PIN Query</title>
    <script language="JavaScript">
        function submitForm() {
            document.forms[0].submit();
        }
    </script>
    <link href="/linker/css/master-style.css" rel="stylesheet" type="text/css" />
</head>

<body onload="self.focus();document.loginform.login.focus()">
<div id="container">
    <div id="header">
        <div id="logo"></div>
    </div>
    <div id="wrapper">
        <div id="wrapper2">
            <div id="content">
                <div class="title">New PIN Query</div>

<center>
<h2>
<!-- img SRC="rsa-securid.gif" height=27 width=133 --></h2></center>

<center><font class="basictextfonts3">You must select a new PIN.</font>
<br><font class="basictextfonts3">Wait for tokencode to change, then enter
your username and passcode.</font>
<br><font class="basictextfonts3">Select Yes if you would like the system
to generate a PIN for you. If not,</font>
<br><font class="basictextfonts3">&nbsp;select No.</font><font class="basictextfonts3"></font>
<p><form name="loginform" action="/cgi-bin/securid.pl" method="post"></center>

<center><table BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<tr>
<td ALIGN=RIGHT VALIGN=CENTER><b><font class="basictextfonts3">Username</font></b></td>

<td><font class="basictextfonts3">&nbsp;</font></td>

<td ALIGN=LEFT VALIGN=CENTER><input type="text" name="login" size="20" value=""></td>
</tr>

<tr>
<td ALIGN=RIGHT VALIGN=CENTER><b><font class="basictextfonts3">Passcode</font></b></td>

<td><font class="basictextfonts3">&nbsp;</font></td>

<td ALIGN=LEFT VALIGN=CENTER><input type="password" name="password" size="20" value=""></td>
</tr>

<tr>
<td><b><font class="basictextfonts3">System Generated PIN?</font></b></td>

<td><font class="basictextfonts3"></font></td>

<td><input type="radio" name="choice" size="20" value="sysgen"><font class="basictextfonts3">Yes&nbsp;<input type="radio" name="choice" size="20" value="selfgen" checked >No</font></td>
</tr>
</table></center>

<center><input type="hidden" name="program" value=""><input type="hidden" name="newpin" value=""><input type="hidden" name="newpin2" value=""><input type="hidden" name="form" value="new-pin-query"><font class="basictextfonts3"></font>
<p><font class="basictextfonts3"><!-- a href="javascript:submitForm()">ENTER</a --><input type="button" onclick="submitForm()" value="Submit" /></font>
<br></form></center>
               <br clear="all" />
            </div><!--end of content div-->
        </div>
    </div>
    <div id="footer">Copyright &copy; MasterCard 2011</div>
</div>

</body>
</html>
